/* 页面整体 */
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 头像 */
.list {width: 20px;}

/* 弹窗 */
.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

/* ====================导航样式============================ */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}
nav a:hover {
    background-color: #111;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/* ====================内容样式==================================== */
.font-center{ text-align:center}
.btbg{background:#e9faff !important;}
.btbg1{background:#f3f3f3 !important;}
.titfont {
	font-family: 微软雅黑;
	font-size: 16px;
	color: #255e95;
}
/* ====================Add&Edit元素样式 ============================ */
input {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    padding: 6px 12px;
    border-bottom: 1px solid #ddd;
}

input[type=submit] {
    font-family: inherit;
}
input[type=text] {
    border: 1px solid #ddd;
}
input[name=title] {
    width: 220px;
}
input[name=content] {
    width: 220px;
}
input[name=link] {
    width: 220px;
}

.btn {
    font-size: 16px;
    padding: 3px 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid #555555;
    border-radius: 5px;
}
.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* ====================其他元素样式 ============================ */
/* 底部图片 */
.book {
    display: block;
    margin: 0 auto;
    height: 80px;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* ==================== 样式备份 ============================ */
/*
.notes-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.notes-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}
.notes-list li:last-child {
    border-bottom:none;
}
.notes-list li:hover {
    background-color: #f8f9fa;
}

.inline-form{
    display: inline;
}
*/

/*
.bing {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
}
*/