{% extends 'base.html' %}
{% block content %}
<ul>
    <h2>Edit item</h2>
</ul>
<form method="post">
    <table >
        <tr>
            <th>Title</th>
            <td>
                <input type="text" name="title" autocomplete="off" placeholder="Required and maximum 40 characters" required value="{{ notes.title }}">
            </td>
        </tr>
        <tr>
            <th>Content</th>
            <td>
                <input type="text" name="content" autocomplete="off" placeholder="Required and maximum 40 characters" required value="{{ notes.content }}">
            </td>
        </tr>
        <tr>
            <th>Link</th>
            <td>
                <input type="text" name="link" placeholder="Mximum 60 characters" autocomplete="off" value="{{ notes.link }}">
            </td>
        </tr>
    </table>
    <ul>
    <input class="btn" type="submit" name="submit" value="Update">
    </ul>
</form>
{% endblock %}