{% extends 'base.html' %}
{% block content %}
<p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
    {% for movie in movies %}
            {# 迭代 movies 变量 #}
        <li>{{ movie.title }} -- {{ movie.note }}
                {# 等同于 movie['title'] #}
            <span class="float-right">
                <a class="imdb" href="https://www.bing.com/search?q={{movie.title }}" target="_blank" title="Find this movie on IMDb">Bring</a>
            </span>
        </li>
    {% endfor %}
        {# 使用 endfor 标签结束 for 语句 #}
    </ul>
    <img alt="Book" class="book" src="{{ url_for('static', filename='images/book.png') }}">
{% endblock %}