{% extends 'base.html' %}
{% block content %}
<p>{{ notes|length }} Records</p>
<!-- 在模板中可以直接使用 current_user 变量 -->
<!--{% if current_user.is_authenticated %}-->
<!--<form method="post">-->
<!--    Title <input type="text" name="title" autocomplete="off" required>-->
<!--    Content <input type="text" name="content" autocomplete="off" required>-->
<!--    Link <input type="text" name="link" autocomplete="off" required>-->
<!--    <input class="btn" type="submit" name="submit" value="Add">-->
<!--</form>-->
<!--{% endif %}-->
<!--autocomplete 属性设为 off 来关闭自动完成（按下输入框不显示历史输入记录）；
另外还添加了 required 标志属性，如果用户没有输入内容就按下了提交按钮，浏览器会显示错误提示。-->
<ul class="movie-list">
{% for notes in notes %}
        {# 迭代 notes 变量 #}
    <li>{{ notes.title }} | | | | {{ notes.content }}| | | | {{ notes.link }}
            {# 等同于 notes['title'] #}
        <span class="float-right">
<!--            <a class="bing" href="https://www.bing.com/search?q={{notes.title }}" target="_blank" title="Find this movie on Bing">Bing</a>-->
            <a class="btn" href="{{url_for('edit', notes_id=notes.id)}}">Edit</a>
<!--            <form class="inline-form" method="post" action="{{ url_for('delete', notes_id=notes.id) }}">-->
<!--                <input class="btn" type="submit" name="delete" value="Delete" onclick="returen confirm('Are you sure?')">-->
<!--            </form>-->
        </span>
    </li>
{% endfor %}
    {# 使用 endfor 标签结束 for 语句 #}
</ul>
<img alt="Book" class="book" src="{{ url_for('static', filename='images/book.png') }}">
{% endblock %}